footer {
  background-color: #303441;
  font: 12px "Lato", sans-serif;
  @include clearfix;
  @include user-select(none);

  nav {
    & > p {
      float: left;
      padding: 0;
      line-height: 70px;

      a:before {
        margin-right: 5px;
        content: "·";
      }

      a {
        text-decoration: none;
        @include transition-property(all);
        @include transition-duration(600ms);

        &:hover {
          color: #fff;
          @include opacity(0.8);
        }
      }
    }

    .social-buttons {
      float: right;
      padding-top: 15px;
    }
  }
}