.button {
  display: inline-block;
  width: 230px;
  height: 72px;
  background-color: #16a085;
  border: solid 3px transparent;
  border-bottom-color: #3bd4b6;
  font: 16px "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  @include border-radius(5px);

  &:hover {
    background-color: #19b596;
  }

  &.video {
    background-color: rgba(0, 0, 0, .5);
    border: solid 2px #fff;

    &:hover {
      background-color: #141d25;
    }
  }
}

